name: Linting workflow
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - name: Run cspell
        uses: streetsidesoftware/cspell-action@v8
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v21
